# ML LAB 06 - PCA
### Name: Tulasi Raman R
### Register Number: 21MIS1170

# Importing libraries

In [29]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Loading dataset

In [30]:
df = pd.read_csv('Student_Performance.csv')
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [53]:
X = df['Extracurricular Activities'].replace(['No', 'Yes'],[0, 1])
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0

In [50]:
# Apply PCA
pca = PCA(n_components=2)  # Reduce to 2 components 
X_pca = pca.fit_transform(X_scaled)

In [51]:
# Create DataFrame for the reduced dimensions
df_pca = pd.DataFrame(data=X_pca, columns=['PC1', 'PC2'])

In [54]:
df_pca

          PC1       PC2
0   -1.332062 -0.047465
1    2.725411  0.253475
2   -1.427629 -0.174570
3   -1.412282  0.509315
4    2.358493  0.428942
..        ...       ...
995 -1.538541 -0.985559
996 -1.588067  0.938991
997  2.071795  0.047629
998 -1.523195 -0.301674
999  1.337959  0.398562

[1000 rows x 2 columns]

# Model Interpretation

- This code reduces the dimentionality to 2 principle components i.e., PC1, PC2, and returns the dataset with reduced dimentions as features.
- Here, in this example we have only reduced the features but in general PCA could be an essential pre-processing step that makes it easier to visualize complex data in lower dimentional space.